!!! 5
html
  head
    title UWC Market
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(href='/css/app.css', rel='stylesheet')
    link(href='/css/app.less', rel='stylesheet/less')
    if (env == 'prod')
      script(src='/js/built.js')
    else
      script(data-main='/js/main', src='/js/components/requirejs/require.js')
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
  body
  include head
  block content
