<ul class="articles">
    <% _.each(articles, function(article) {  %>
    <li>
        <h2>
            <%= article.get('title') %>
        </h2>
        <p>
            <%= article.get('description') %>
        </p>
        <p>
            <a href="<%= article.get('guid') %>"><%= article.get('title') %></a>
        </p>
        <span class="light">
            Author -
            <%= article.get('author') %>
        </span>
    </li>
    <% }); %>
</ul>
<button class="refresh-article" style="dispaly:none;"></button>

