<div class="navbar navbar-fixed-top main">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand span3" href="#">{{ i18n('Viableware') }}</a>

            <div class="nav innertext" id="reset-password-alert">
                <%= expiring_info %>
                <a href="#change-password">{{ i18n('Reset Password') }}</a>
            </div>

            <ul class="nav pull-right">
                <li>
                    <span class="innertext" id="whoyouare">
                    <%= name %>, 
                    <%= role %>
                    </span>
                </li>
                <li class="divider-vertical"></li>
                <li><a href="#logout">{{ i18n('Logout') }}</a></li>
            </ul>

        </div>
    </div>
</div>


<div class="container">

    <div class="row" id="main-container">
        <div class="span3">
            <div class="sidebar-nav" id="sidebar">
            </div>
        </div>

        <div class="span9" id="content">
        </div>
    </div>

</div>

<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
            <p>{{ i18n('Copyright &copy; 2012 Viableware. All rights reserved.') }}</p>
        </div>
    </div>
</div>

